* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    overflow: hidden;
    /* background-color: #191919; */
    /* justify-content: center; */
}

.container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

#sankey_container {
    width: 800px;
    height: 1080px;
    /* transform: rotate(90deg);
    transform-origin: top left; */
    /* border: 1px solid green; */
}

#shutter_container {
    width: 960px;
    height: 1080px;
    /* border: 1px solid blue; */
}

.title {
    width: 160px;
    height: 1080px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /* color: white; */
    /* background-color: #191919; */
    padding: 10px;
}

.node rect {
    fill-opacity: .5;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .1;
}

.link:hover {
    stroke-opacity: .5;
}

.node rect:hover {
    fill-opacity: .9;
}

.hover-menu {
    max-width: 300px;
    max-height: 1000px;
    display: none;
    position: absolute;
    background-color: whitesmoke;
    opacity: 90%;
    border-radius: 15px;
    padding: 10px;
    box-shadow: inset;
    shape-outside: margin-box;
    cursor: pointer;
}

.hover-menu img {
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 10px;
}

.hover-menu p {
    max-width: 300px;
    max-height: 300px;
    margin: 10px 0;
    font-family: 'Josefin Slab',
        serif;
    padding: 20px;
    font-size: 24px;
    font-weight: 1200;
    color: black;
    word-wrap: break-word;
    text-align: center;
}


.hover-menu b {
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin: 10px 0;
    font-family: 'Raleway',
        sans-serif;
    font-size: 16px;
    color: darkolivegreen;
    word-wrap: break-word;
    text-align: center;
}

.hover-menu a {
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin: 10px 0;
    font-family: 'Raleway',
        sans-serif;
    font-size: 16px;
    color: black;
    word-wrap: break-word;
    text-align: center;
}